@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    max-width: 92%;
  }
  .hotel-slider {
    width: 560px;
  }
  .hotel {
    &-slider {
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .card {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 992px) {
  .container,
  .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .header {
    &-top {
      padding: 30px 0;
    }
    &__search {
      margin-left: auto;
    }
  }
  .navbar-list {
    &__link {
      padding: 22px 0;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .search {
    width: 340px;
  }
  .hotel {
    &-grid {
      flex-direction: column;
    }
    &__slider {
      margin-bottom: 30px;
    }
    &-right {
      flex-direction: row;
    }
    &__booking {
      width: 340px;
    }
  }
  .hotel-slider {
    width: 100%;
  }
  .map {
    width: 340px;
  }
  .reviews {
    &-slider {
      &__item {
        max-width: 580px;
      }
    }
  }
  .card {
    width: 45%;
    height: 230px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .header {
    &__search {
      display: none;
    }
    &__user {
      display: none;
    }
    .menu {
      &-button {
        padding: 0;
        width: 16px;
        height: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        &__line {
          width: 16px;
          height: 1px;
          background-color: $text-color;
        }
      }
    }
  }
  .navbar-list {
    display: none;
  }
  .stars {
    flex-basis: auto;
  }
  .hotel {
    &-name {
      flex-basis: 100%;
    }
    &-wrapper {
      justify-content: space-between;
    }

    &-info {
      &__text {
        width: 100%;
      }
      &__name {
        margin-top: 10px;
        margin-bottom: 0;
      }
      &__rating {
        display: none;
      }
      &__offer {
        order: -1;
        margin-left: 0;
      }
    }
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel {
    &-right {
      flex-direction: column;
      min-height: 450px;
    }
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .newsletter {
    &-wrapper {
      flex-direction: column;
      max-width: 576px;
      width: 92%;
      align-items: flex-start;
    }
    &-title {
      margin-bottom: 37px;
    }
  }
  .reviews {
    &-slider {
      &__profile {
        padding: 0;
      }
      &__text {
        margin-bottom: 0;
      }
      &__item {
        padding: 0 30px 30px;
        &::after,
        &::before {
          display: none;
        }
      }
      &__button {
        top: 45px;

        &-prev {
          left: 50%;
          margin-left: -65px;
          transform: translate(-50%, 0);
        }
        &-next {
          right: 50%;
          margin-right: -65px;
          transform: translate(50%, 0);
        }
      }
    }
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 49%;
    height: 255px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .logo {
    width: 99px;
  }
  .hotel-slider {
    height: 250px;
  }
  .reviews {
    &-slider {
      &__item {
        padding: 0 32px 36px;
      }
      &__profile {
        padding: 0;
      }
    }
  }
  .hotel {
    &__slider {
      margin-bottom: 20px;
    }
  }
  .newsletter {
    padding: 76px 0 83px 0;
    &-title {
      font-size: 20px;
      &__strong {
        font-size: 30px;
      }
    }
  }
  .subscribe {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
