* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: $text-color;
  font-family: "Mulish", sans-serif;
  background: $secondary;
}
input {
  border: none;
}
button {
  border: none;
  outline: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1110px;
  margin: auto;
}
.input {
  background-color: #fff;
  border-radius: 4px;
  padding: 0 23px;
  height: 50px;
}
.message {
  background-color: #fff;
  border-radius: 4px;
  padding: 18px 23px;
  resize: none;
}
.info {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #e0e0e0;
}
