// подключение переменных
@import "variables";
// mixin
@import "mixin";
// подключение базовых настроек
@import "settings";
// подключение normilize
@import "normalize";
// подключение блоков
@import "blocks/header";
// хлебные крошки
@import "blocks/breadcrumb";
// стили блока отель
@import "blocks/hotel";
// newsletter блок
@import "blocks/newsletter";
// reviews
@import "blocks/reviews";
// activities
@import "blocks/activities";
// footer
@import "blocks/footer";
// адаптив
@import "media";
