@font-face {
  font-family: "MuseoCyrl-300, sans-serif";
  src: url("../fonts/MuseoCyrl-300.woff") format("woff"),
    url("../fonts/MuseoCyrl-300.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoCyrl-900, sans-serif";
  src: url("../fonts/MuseoCyrl-900.woff") format("woff"),
    url("../fonts/MuseoCyrl-900.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
