* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: #202020;
}
button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}
/* Верхняя часть */
.header {
  background-color: #f1f1f1;
  padding: 20px 0;
  font-size: 14px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link {
  color: #202020;
  margin-right: 11px;
  margin-left: 11px;
}

.login {
  color: #202020;
}

/* Главная секция */
.hero {
  padding: 60px 0 70px 0;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-img {
  margin-right: 122px;
}

.author {
  display: block;
  font-size: 24px;
  margin-bottom: 22px;
}
.title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}

.subtitle {
  display: block;
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 1.21;
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  font-size: 16px;
  margin-bottom: 16px;
  flex-basis: 41%;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  margin-right: 64px;
}

.favorite {
  color: inherit;
  font-size: 16px;
}

.button {
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 22px 50px;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: white;
}
.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}

.button-outline {
  background-color: #fff;
  color: #f89c02;
  border: 2px solid #f89c02;
}
