* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}
button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}
/* Верхняя часть */
.header {
  background-color: #f1f1f1;
  padding: 20px 0;
  font-size: 14px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link {
  color: inherit;
  margin-right: 11px;
  margin-left: 11px;
}

.login {
  color: inherit;
}

/* Главная секция */
.hero {
  padding: 60px 0 70px 0;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-img {
  margin-right: 122px;
}

.author {
  display: block;
  font-size: 24px;
  margin-bottom: 22px;
}
.title {
  font-size: 54px;
  font-weight: bold;
  font-family: "MuseoCyrl", sans-serif;
  margin-bottom: 15px;
  margin-top: 0;
}

.subtitle {
  display: block;
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 1.21;
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  font-size: 16px;
  margin-bottom: 16px;
  flex-basis: 41%;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  margin-right: 64px;
}

.favorite {
  color: inherit;
  font-size: 16px;
}

.button {
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 22px 50px;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: white;
}
.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}

.button-outline {
  background-color: #fff;
  color: #f89c02;
  border: 2px solid #f89c02;
}
/* About */
.about {
  background-color: #f1f1f1;
  margin-bottom: 87px;
}
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 94px 0;
}

.about-book {
  max-width: 454px;
}
.author-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  padding: 68px 53px;
  border-radius: 10px;
  box-shadow: 0px 1px 120px 0 rgba(161, 161, 161, 0.08);
  border: solid 1px #f3f3f3;
  background-color: #fff;
}
.author-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
  margin-bottom: 27px;
}

.author-text {
  flex-basis: 100%;
}
.author-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
}
.author-link {
  font-size: 16px;
  color: inherit;
}

.author-text {
  line-height: 1.5;
  font-size: 16px;
}
.about-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 35px;
}
.about-info {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 21px;
}
/* Readership */
.readership-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 57px;
}
.readership-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.readership-person {
  width: 165px;
  height: 165px;
  object-fit: cover;
  margin-bottom: 30px;
}
