.activities {
  font-family: "Mulish", sans-serif;
  padding: 60px 0 98px 0;
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 57px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    margin-bottom: 20px;
  }
}

.card {
  width: 255px;
  height: 255px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 24px 26px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      179.83deg,
      rgba(196, 196, 196, 0) 35.34%,
      #0a223d 99.85%
    );
  }
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -2;
    height: 100%;
    width: 100%;
  }
  &__title {
    color: $light;
    margin-bottom: 18px;
    margin-top: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  &__button {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $light;
    padding: 7px 22px;
    border-radius: 4px;
    background-color: $primary;
    cursor: pointer;
    &:hover {
      background-color: $dark;
    }
  }
}
