.footer {
  background-color: $dark;
  color: $light;
  font-family: Mulish, sans-serif;
  padding-top: 180px;
  padding-bottom: 46px;
  &-wrap {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(40px, min-content);
  }
  &-phone {
    &__link {
      display: block;
      color: $footer-text-color;
      line-height: 160%;
    }
  }
  &__link {
    &_hover {
      &:hover {
        color: $primary;
      }
    }
  }
  &__logo {
    width: 166px;
    margin-top: 31px;
    grid-row: 1 / 3;
  }
  &__categories {
    grid-row: 1 / 4;
  }
  &__social {
    &-links {
      display: flex;
      align-items: center;
      min-width: 83px;
      justify-content: space-between;
    }
    &-networck {
      display: flex;
      align-items: center;
      grid-row: 2 / 4;
      grid-column: span 2;
    }
  }
  &__contact-details {
    grid-column: span 2;
  }
  &__contacts-form {
    grid-column: span 2;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__icon {
    &_hover {
      &:hover {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
          brightness(104%) contrast(97%);
      }
    }
  }
  &_ul {
    padding: 0;
    margin: 0;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    &--inline {
      margin: 0 43px 0 0;
    }
    &--mb-3 {
      margin-bottom: 30px;
    }
  }
  &__icon {
    margin-right: 20px;
    &-wrapper {
      min-width: 40px;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 160%;
    color: $footer-text-color;
    &--mb-2 {
      margin-bottom: 20px;
    }
  }
  &__text {
    color: $footer-text-color;
    margin-bottom: 22px;
  }
  &__link {
    color: inherit;
  }
  &__input {
    width: 100%;
    &-group {
      margin-bottom: 15px;
      flex-basis: 48%;
    }
  }
  &__message {
    flex-basis: 100%;
    margin-bottom: 23px;
    min-height: 123px;
  }
  &__button {
    min-width: 160px;
    min-height: 50px;
    padding: 18px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: inherit;
    background-color: $primary;
    border-radius: 4px;
    cursor: pointer;
  }
}
