.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
  &-slider {
    width: 728px;
    height: 450px;
    &__item {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba(0, 122, 223, 0.48) 0%,
          rgba(255, 255, 255, 0.128) 100%
        );
        z-index: 1;
      }
    }

    &__button {
      @include arrows-center(30px, 30px, 10px);
      &-next {
        background-image: url(../../img/arrow.svg);
        right: 18px;
      }
      &-prev {
        background-image: url(../../img/arrow-prev.svg);
        left: 18px;
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    &__descr {
      margin: 5px 0;
      max-width: 600px;
    }
    &__offer {
      margin-left: 14px;
      margin-top: 4px;
    }
    &__name {
      margin-top: 4px;
      max-width: 600px;
      margin-bottom: 0;
    }
  }
  &-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }
  &_descr {
    font-size: 12px;
    line-height: 15px;
    color: inherit;
  }
  &-grid {
    display: flex;
    justify-content: space-between;
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: $primary;
  color: $light;
  border-radius: 3px;
  max-width: 200px;
}
.stars {
  flex-basis: 100%;
}
.rating {
  max-width: 65px;
  min-height: 45px;
  border-radius: 4px;
  background-color: $primary;
  text-align: center;
  padding: 6px 6px 9px 7px;
  color: $light;
  &__text {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 2px;
  }
  &__counter {
    font-weight: 600;
    font-size: 10px;
    &_active {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.booking {
  background: $dark;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 27px;
  font-family: "Nunito", sans-serif;
  color: $light;
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }
  &__icon {
    width: 14px;
    height: 14px;
  }
  &__price {
    display: flex;
    flex-direction: column;
  }
  &__start {
    font-size: 10px;
    line-height: 14px;
  }
  &__bookingtag {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }
  &__pre-room {
    font-size: 12px;
    line-height: 16px;
  }
  &__room {
    margin-top: 4px;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__descr {
    margin-left: 9px;
  }
  &__call-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
  &__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: inherit;
  }
  &__num {
    margin-left: 8px;
  }
  &__button {
    width: 100%;
    padding: 13px 0;
    background-color: $primary;
    border-radius: 4px;
    color: inherit;
    font-size: 14px;
    line-height: 19px;
  }
}
.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
}
