.modal {
  font-family: Mulish, sans-serif;
  color: $light;
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 143, 223, 0.39);
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    &_visible {
      visibility: visible;
      opacity: 1;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $light;
    text-align: center;
  }
  &__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: 478px;
    border-radius: 8px;
    background-color: $dark;
    padding: 33px 88px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    &_visible {
      visibility: visible;
      opacity: 1;
    }
  }
  &__close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
  &__message {
    width: 100%;
    margin-bottom: 15px;
    min-height: 123px;
  }
  &__input {
    width: 100%;
    margin-bottom: 15px;
  }
  &-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__button {
      min-width: 160px;
      min-height: 50px;
      padding: 18px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: inherit;
      background-color: $primary;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
