.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  background-image: url(../img/newsletter.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $light;
  font-family: Mulish, sans-serif;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.8);
  }
  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 731px;
    margin: auto;
  }
  &-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: $light;
    max-width: 250px;
    &__strong {
      display: block;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;
      color: $light;
    }
  }
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
  font-family: Mulish, sans-serif;
  &__error {
    margin-top: 6px;
    max-width: 300px;
  }
  &__input {
    position: absolute;
    width: 100%;
    padding-right: 75px;
    padding-left: 33px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
    height: 100%;
    &::placeholder {
      color: $footer-text-color;
      font-size: 14px;
    }
  }
  &__button {
    position: absolute;
    min-width: 65px;
    right: 0;
    top: 0;
    height: 100%;
    background-color: $primary;
    color: $light;
    cursor: pointer;
    &:hover {
      color: $text-color;
    }
  }
}
